 
# Frontend
frontend/node_modules/
frontend/dist/


# Backend
backend/node_modules/
backend/log/*.log
backend/tmp/
backend/public/assets
backend/storage/*
!backend/storage/.keep
backend/db/*.sqlite3
backend/db/*.sqlite3-journal


# Generales
.DS_Store
*.swp